<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Video Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Upload a video</h1>
<input type="file" id="file"/>
<button id="uploadButton">Upload</button>
<p id="message"></p>


<script>
    $(document).ready(function () {
        $('#uploadButton').on('click', function () {
            var fileInput = $('#file')[0];
            if (fileInput.files.length === 0) {
                $('#message').text('Please select a file to upload');
                return;
            }

            var formData = new FormData();
            formData.append('file', fileInput.files[0]);

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                success: function (data) {
                    $('#message').text(data.message);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>
</body>
</html>
