<!DOCTYPE html>
<head>
    <title>Video Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
</head>
<body>
<h1>Upload Video</h1>
<form id="uploadForm">
    <input type="file" id="file" name="file" required>
    <button type="submit">Upload</button>
</form>

<h1>DASH Video Player</h1>
<video id="videoPlayer" controls width="640" height="360"></video>


<script>
    $(document).ready(function () {
        $('#uploadForm').on('submit', function (event) {
            event.preventDefault();
            var formData = new FormData();
            formData.append('file', $('#file')[0].files[0]);

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Video processing completed');
                },
                error: function (xhr, status, error) {
                    alert('Video processing failed: ' + error);
                }
            });
        });
    });
    $(document).ready(function () {
        var filename = 'alien-romulus-official-trailer_1080p.mpd';
        var url = 'http://localhost:8080/videos?filename=' + encodeURIComponent(filename);
        console.log("URL: " + url);

        var player = dashjs.MediaPlayer().create();
        player.initialize(document.querySelector("#videoPlayer"), url, true);
    });
</script>
</body>
</html>
